<html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content=" width=device-width, initial-scale=1"
      />
      <link rel="stylesheet" href="static/css/body.css" />
      <title>Login</title>
    </head>
    <body>
      <h1>Login</h1>
      <form method="POST" action="/register">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            required
          /><br />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
            minlength="8"
          /><br />
        </div>
        <button type="submit" class="btn btn-primary">
          Register
        </button>
      </form>
    </body>
  </html>
</html>
